:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image:
    linear-gradient(
      var(--primary-background-color),
      var(--secondary-background-color)
    ),
    url('/assets/images/user-background.jpg');
  background-size: cover;
}

mat-icon {
  width: 150pt;
  height: 130pt;
  font-size: 150pt;
  color: white;
  opacity: 0.8;
}

.title {
  font-weight: lighter;
  opacity: 0.9;
  font-size: 4rem;
  color: white;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.description {
  margin-top: 2rem;
  color: white;
  opacity: 0.6;
}
