:host {
  display: flex;
  flex-direction: column;
}

.login-title {
  opacity: 0.7;
  font-weight: 400;
  font-size: 20pt;
  font-family: 'Barlow Semi Condensed', sans-serif;
  text-transform: uppercase;
  margin-bottom: 0.7em;
}

.login-btn {
  margin-top: 0.83rem;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 0.1em;
}

.lock-icon {
  font-size: 16pt !important;
  margin-bottom: 0.1rem;
}

.description {
  opacity: 0.7;
  font-size: 0.7rem;
  margin-top: 0.5em;

  a {
    font-weight: bold;
    color: var(--button-color);
    cursor: pointer;
  }
}
