@import '~@angular/material/theming';

@include mat-core();

//color theme
$primary-palette: (
  50: #e9f6f2,
  100: #c8e8dd,
  200: #a4d9c7,
  300: #7fc9b1,
  400: #63bea0,
  500: #48b28f,
  600: #41ab87,
  700: #38a27c,
  800: #309972,
  900: #218a60,
  A100: #c7ffe7,
  A200: #94ffd2,
  A400: #61ffbc,
  A700: #47ffb1,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #000,
    600: #000,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: #000,
    A200: #000,
    A400: #000,
    A700: #000
  )
);

$secondary-palette: (
  50: #e9f0f6,
  100: #c9dae8,
  200: #a5c2d9,
  300: #81aaca,
  400: #6697be,
  500: #4b85b3,
  600: #447dac,
  700: #3b72a3,
  800: #33689a,
  900: #23558b,
  A100: #c9e2ff,
  A200: #96c6ff,
  A400: #63aaff,
  A700: #4a9dff,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: #000,
    A200: #000,
    A400: #000,
    A700: #000
  )
);

$ourmoney-fe-primary: mat-palette($primary-palette);
$ourmoney-fe-accent: mat-palette($secondary-palette);
$ourmoney-fe-warn: mat-palette($mat-red);

$ourmoney-fe-theme: mat-light-theme(
  (
    color: (
      primary: $ourmoney-fe-primary,
      accent: $ourmoney-fe-accent,
      warn: $ourmoney-fe-warn
    )
  )
);

@include angular-material-theme($ourmoney-fe-theme);

// fonts
$custom-typography: mat-typography-config(
  $font-family: 'Montserrat'
);

@include angular-material-typography($custom-typography);
// global styles

.mat-form-field-prefix {
  opacity: 0.5;
  align-self: flex-end;
  margin-right: 0.8rem;
  margin-bottom: 0.1rem;
}

.mat-form-field-suffix {
  opacity: 0.5;
}
